.header {
  margin : 92px 50px 92px;
  padding-bottom: 4px;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}

.nav {
  align-self: center;
}

.nav-list {
  align-self: center;
  display: flex;
  gap: 32px;
  list-style: circle;
}

.unique-item-nav-list {
  list-style: none;
}

.link {
text-underline-offset: 4px;
}

.header-logo {
  display: block;
  width: 138px;
  height: 103px;
  justify-self: center;
  margin-bottom: 3px;

}

.header-logo-image {
  width: 100%;
}

.address {
  justify-self: end;
  align-self: center;
}

.address-list {
  list-style: none;
  font-style: normal;
}

.cover {
  background-color: aqua;
  padding: 165px 50px 50px 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)),url('../images/cover.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  margin-bottom: 180px;
}

.cover-title {
  display: grid;
  gap: 20px;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
  margin-bottom: 118px;
}

.accent-span {
  display: block;
}

.o {
  margin-left: 29px;
}

.text-center {
  line-height: 100px;
  margin-left:auto;
  margin-right: auto;
}

.e {
  letter-spacing: 60px;
}

.text-right {
  text-align: right;
  line-height: 100px;
  letter-spacing: 60px;
  margin-bottom: 16px;
}

.ad {
  letter-spacing: 30px;
}

.o2 {
  letter-spacing: 0px;
}

.div_cover {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 76px;
} 
.text {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}

.text-cover {
  justify-self: end;
  align-self: center;
  word-spacing: 16px;
}

.cover_space {
  word-spacing: 18px;
}

.cover_space_2 {
  word-spacing: 20px;
}

.buttom {
  justify-self: end;
  border: 1px solid #FFF;
  align-self: center;
  width: 257px;
  height: 52px;
  text-decoration: none;
  padding: 12px 32px;
}

.lots {
  margin: 0 50px 183px
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lot-list {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  height: 450px;
  margin-bottom: 30px;
}

.card__title {
  display: block;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  list-style: none;
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 40px;
}

.card_type_film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)),url('../images/card-lot-01.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.card_type_book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)),url('../images/card-lot-02.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.card_type_picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),
rgba(0, 0, 0, 0.6)),url('../images/card-lot-03.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.card__text {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 50px;
}

.lot-link {
  margin-left: 40px;
  margin-bottom: 2px;
  font-size: 20px;
  font-weight: 400;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 50px 183px;
  column-gap: 14px;

}

.dark-round {
  display: flex;
  background-color: black;
  border-radius: 150px;
  width: 240px;
  height: 240px;
  justify-self: center;
  justify-content: center;
}

.white_logo {
  width: 148px;
  height: 114px;
  align-self: center;
}

.about-article {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.about-title {
  margin-top: 100px;
  margin-bottom: 75px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about-text {
  font-size: 20px;
  font-weight: 400;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-left: 50px;
  margin-right: 50px;
  line-height: 1.35;
  margin-bottom: 90px;
  font-size: 18px;
  font-weight: 400;
}

.address-footer {
  justify-self: start;
  align-self: center;
}

.nav-footer {
  justify-self: center;
  align-self: start;
  line-height: 21px;
}

.nav-list-footer {
  text-align: center;
}

.footer-social-media {
  display: flex;
  justify-content: space-between;
  justify-self: end;
  align-self: start;
  width: 240px;
}

.img-footer {
  display: inline-block;
  height: 48px;
}